#reward-list {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .nut-expire {
    background-color: #55c5d1;
    .card-text {
      color: #fff;
    }
  }
  .card-tier-code {
    color: #b17c2a;
    font-size: 30px;
    font-weight: 500;
  }
  .userid {
    border: 2px solid #55c5d1;
    opacity: 1;
    margin-top: 7.667px;
    margin-bottom: 7.667px;
  }
  .text-blue {
    color: #55c5d1;
    font-size: 14px;
    margin-bottom: 9.584px;
  }
  .card-progress {
    position: relative;
    padding-right: 19.167px;
    padding-left: 19.167px;
  }
  .progress {
    border: 0.035px solid #b17c2a;
    background: #eceaea;
    height: 6.78906px;
    .progress-bar {
      border: 0.035px solid #8fbe3e;
      background: #8fbe3e;
    }
  }
  .icon-super {
    img {
      z-index: 0;
      position: absolute;
      right: 12px;
      bottom: -18px;
      width: 55px;
      height: 55px;
    }
  }
  .images {
    .img-fluid {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
