#rewards-catalogue {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  .nut-expire {
    background: #55c5d1 url(../../../../src/assets/images/bg-reward.ebd7b519.png) !important;
    background-attachment: fixed;
    background-position: 100% !important;
    background-repeat: no-repeat !important;
    min-width: 100% !important;
    .card-text {
      color: #fff;
      font-size: 14px;
    }
  }
  .btn {
    border-radius: 2px;
    padding-top: 0.385rem;
    padding-bottom: 0.385rem;
    width: 100% !important;
  }
  .btn.btn-insufficicent {
    background-color: #b2b2b2 !important;
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  #rewards-catalogue {
    .nut-expire {
      background: #55c5d1 url(../../../../src/assets/images/catalog-bg-mobile.a378e9a2.png) !important;
      background-attachment: fixed;
      background-position: 100% !important;
      background-repeat: no-repeat !important;
    }
  }
}
