@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '../../../node_modules/bootstrap/scss/bootstrap';

$primary-color: #b3d133;
$primary1-color: #8fbe3e;
$secondary-color: #b17c2a;
@mixin title {
  font-size: 30px;
  font-weight: 700;
}

body {
  font-family: 'Roboto', sans-serif;
}
.container-fluid-without-header {
  background: #55c5d1 url(../../../src/assets/images/bg-sign-in.jpg) !important;
  background-size: cover;
  height: 110vh;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
}

//fix css bootstrap
.text-primary {
  color: $primary-color !important;
}
.text-primary1 {
  color: $primary1-color !important;
}
.text-secondary {
  color: $secondary-color !important;
}
.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
.btn-primary1 {
  background-color: $primary1-color !important;
  border-color: $primary1-color !important;
}
.btn-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}
.border-primary1 {
  border-color: $primary1-color !important;
}
.border-secondary {
  border-color: $secondary-color !important;
}
.btn-hover {
  &:hover {
    cursor: default;
    text-decoration: none;
    color: #fff;
    outline: none;
    -webkit-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    -webkit-box-shadow: 0 0.6rem 0.8rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.6rem 0.8rem rgb(0 0 0 / 8%);
    -webkit-transition: all 0.2s;
    -o-transition: 0.2s all;
    transition: all 0.2s;
  }
}
#header {
  display: none;
  background-color: #fff;
  color: #fff;
  height: 82px;
  border-bottom: 2px solid #cba871;
  .mobile-menu-toggler {
    z-index: 1;
    display: none;
    margin-bottom: 0;
    position: absolute;
    top: 1.75rem;
    .bar1,
    .bar2,
    .bar3 {
      display: block;
      width: 33px;
      height: 3px;
      margin-bottom: 0.475rem;
      position: relative;
      background: #b17c2a;
      border-radius: 3px;
      z-index: 1;
      -webkit-transform-origin: 4px 0;
      -ms-transform-origin: 4px 0;
      transform-origin: 4px 0;
      -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    .bar1 {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    .bar2 {
      width: 22.75px;
    }
    .bar3 {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
      margin-bottom: 0;
    }
  }
  .logo {
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    top: 0.85034rem;
    a {
      display: inline-block;
      img {
        max-width: 75px;
        margin: 5px 0;
      }
    }
  }
}

.card-text {
  font-size: 14px;
}
#body {
  .body-content {
    .site-content {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 37.5em;
      background-repeat: no-repeat;
      background-position: bottom;
      background-attachment: fixed;
      background-size: cover;
      padding-top: 0 !important;
      padding: 1.25rem;
      margin-right: -1.25rem;
      margin-left: -1.25rem;
    }
    .card-text {
      color: #b17c2a;
    }
    .card-valid {
      font-size: 16px;
      color: #54c4d0;
    }
  }
  .form-title {
    text-align: left;
    font-weight: 500;
    color: #b17c2a;
    font-size: 24px;
  }
  .link-footer {
    color: #55c5d1;
    font-size: 12px;
  }
}

@import 'sign-in/signin';
@import 'sign-up/signup';
@import 'forgot-password/forgot-password';
@import 'sidebar/sidebar';

#page-content-wrapper {
  min-width: 100vw;
}
@include media-breakpoint-down(lg) {
  #header {
    color: #b17c2a;
    display: block;
    .mobile-menu-toggler {
      display: inline-block;
    }
    .mobile-menu-toggler ~ .logo {
      position: relative;
      top: 0;
      text-align: right;
    }
  }
}
@include media-breakpoint-down(md) {
  #header {
    .mobile-menu-toggler {
      display: inline-block;
      width: 57px;
    }
    .mobile-menu-toggler ~ .logo {
      text-align: right;
    }
  }
  .mobile-menu-toggler {
    top: 2.35rem !important;
  }
}
@include media-breakpoint-up(md) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
@import 'dashboard/dashboard';
@import 'rewards/rewards';
@import 'transactions/transactions';
@import 'rewards-catalogue/rewards-catalogue';
@import 'invite-friends/invite-friends';
@import 'profile/profile';
@import 'change-password/change-password';
