.form-guide {
  font-size: 0.796875rem;
  line-height: 1.5;
  color: #b17c2a;
  font-weight: 500;
  margin-top: -0.625rem;
  margin-bottom: 1.25rem;
  vertical-align: middle;
}
#change-password {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  .textbox_label {
    color: #b17c2a;
  }
  .form-guide {
    color: #a8a8a8;
  }
  .cancel,
  .update {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }
  .btn {
    border-radius: 2px;
    width: 100% !important;
  }
  .btn-update {
    border: 1px solid #8fbe3e;
    color: #fff;
    background: #8fbe3e;
    font-size: unset;
  }
  .btn-cancel {
    border: 1px solid #7f8c8d;
    color: #7f8c8d;
    background: #fff;
    font-size: unset;
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
}
