.textbox_label-primary {
  display: block;
}
.textbox-primary {
  background-color: #fff;
  font-weight: 600;
  text-align: inherit;
}
.textbox {
  border: 1px solid #b17c2a;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 0.625rem 1.25rem;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}
.textbox,
.textbox-container {
  position: relative;
}
.textbox:disabled {
  background: #e5e5e5;
}
#my-profile {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .card-tier-code {
    color: #b17c2a;
    font-size: 30px;
    font-weight: 500;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  .text-green {
    color: #b3d133;
    font-weight: 800;
  }
  .font-title {
    font-weight: 400;
  }
  .form-group {
    position: relative;
  }
  .textbox_label {
    color: #b17c2a;
    font-size: 15px;
  }
  .textbox {
    height: 40px;
    padding: 0.625rem 0.325rem !important;
    color: #b17c2a;
    &::placeholder {
      color: black !important;
    }
  }
  .form-check {
    .form-check-inline {
      .form-check-input {
        border: 1px solid #b17c2a;
        color: #b17c2a;
        float: none;
      }
      .form-check-label {
        color: #b17c2a;
      }
    }
  }
  .react-datepicker-component {
    .react-datepicker-input {
      color: #b17c2a !important;
      border-radius: 2px;
      border: 1px solid #b17c2a;
      &::placeholder {
        color: #b17c2a !important;
      }
    }
    .button-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      .input-button {
        margin: 0 10px;
        background: transparent;
        font-size: 15px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        color: #b5c0ce;
      }
    }
  }
  .btn-getOtp {
    button {
      color: #fff;
      background: #868484;
      border: 0;
      width: 100% !important;
      border-radius: 2px;
      height: 40px;
      font-size: 12px;
    }
  }
  .Select-placeholder {
    // color: #b17c2a !important;
  }
  .level-unit {
    position: relative;
    flex-wrap: nowrap;
    .w-0 {
      width: 0;
    }
    .line-center {
      color: #b17c2a;
      position: absolute;
      bottom: 25%;
      left: 49%;
      width: 10px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 0.15rem solid #b17c2a;
      opacity: 1;
    }
  }
}
@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
