#my-transactions {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  .in-line {
    border: 1px solid #b17c2a;
    h6 {
      font-weight: 500;
    }
  }
  .sub-info {
    color: #717171;
  }
  .font-title {
    font-size: 20px;
    h6 {
      font-size: 20px;
    }
  }
  .text-center {
    font-size: 12px;
  }
  .pagination {
    padding: 0 !important;
    display: inline-block !important;
    font-size: 20px;
    a {
      color: #b17c2a;
    }
  }
  li {
    float: left;
    list-style: outside none none;
    padding: 8px 15px;
    .undefined {
      color: #8fbe3e !important;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .date {
    color: #b17c2a;
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  #my-transactions {
    .in-line {
      h6 {
        font-size: 16px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #my-transactions {
    .in-line {
      h6 {
        font-size: 10px;
      }
    }
  }
}
