#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -17rem;
  transition: margin 0.25s ease-out;
  border-right-color: #ffffff00 !important;
  .logo-brand {
    max-height: 125px;
    margin: 20px;
  }
  .list-group {
    width: 17rem;
  }
  .fs-14px {
    font-size: 14px !important;
  }
}

@include media-breakpoint-up(lg) {
  #sidebar-wrapper {
    margin-left: 0;
    border-right-color: #b17c2a !important;
  }
}
