#my-rewards {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .card-tier-code {
    color: #b17c2a;
    font-size: 30px;
    font-weight: 500;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  .tab-list {
    padding-left: 0;
  }
  .tab-list-item {
  }
  .tab-list-item {
    border: 1px solid #b17c2a;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    color: #b17c2a;
    font-size: 14px;
    padding: 0.5rem 0 !important;
  }
  .tab-list-active {
    background-color: #b17c2a;
    border-width: 1px;
    color: #fff;
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
