.pt-fgpass {
  padding-top: 57px;
  .container-fgpass {
    max-width: 504px;
    .shadow-container-fgpass {
      box-shadow: 0 0 20px 0 rgb(67 67 67 / 50%);
      padding: 20px 60px;
    }
    .fgpass-text {
      font-size: 14px;
      line-height: normal;
    }
    .form-fgpass {
      .btnCancel {
        border: 1px solid #7f8c8d;
        color: #7f8c8d;
        background: #fff;
        font-size: unset;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .container-fgpass {
    width: 100%;
  }
}
@include media-breakpoint-between(sm, lg) {
  .container-fgpass {
    min-width: 395px;
  }
}
