.pt-signin {
  padding-top: 57px;
  .container-signin {
    width: 74%;
    .shadow-container-signin {
      box-shadow: 0 0 20px 0 rgb(67 67 67 / 50%);
      .logo-welcome {
        .signin-href {
          width: 27%;
          .logo-sign-in {
            width: 100%;
          }
        }
        .signin-welcome {
          width: 30%;
        }
        .text-title {
          @include title;
        }
      }
    }
    .form-signin {
      .signin-text {
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .container-signin {
    width: 100%;
    .shadow-container-signin {
      .logo-welcome {
        .signin-href {
          width: 75%;
        }
        .signin-welcome {
          width: 100%;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .noborder-e {
    border-right: 0px !important;
  }
  .w-capcha {
    width: 95% !important;
  }
}
@include media-breakpoint-between(sm, lg) {
  .container-signin {
    min-width: 395px;
  }
}
@include media-breakpoint-up(lg) {
  .noborder-lg-b {
    border-bottom: 0px !important;
  }
  .p-08 {
    padding: 0.8rem !important;
  }
}
