#invite-friends {
  .box {
    background-color: #fff;
    border-radius: 0;
  }
  .ban-line {
    background-color: #8fbe3e;
    height: 30px;
    width: 100%;
  }
  .rc-hr {
    border: 2px solid #8fbe3e;
    opacity: 1;
  }
  img {
    width: 65px;
    height: 78px;
  }
  .text-number {
    font-size: 14px;
    text-align: center;
  }
  .text-center {
    font-size: 12px;
  }
  .invite-code {
    input {
      padding-left: 0.3rem;
    }
    input {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      width: 100%;
      height: 100%;
      border: 1px solid #b17c2a;
      border-radius: 2px;
    }
  }
  .btn {
    border-radius: 2px;
    width: 100% !important;
    height: 100%;
    .btn-primary {
      background-color: #8fbe3e !important;
    }
  }
}

@include media-breakpoint-down(lg) {
  #body {
    .body-content {
      .site-content {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
}
